<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">

<head></head>

<body>
<section class="content" layout:fragment="conteudo">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<form method="POST" action="#" >
						<div class="card-header card-header-text" data-background-color="orange">
							<h4 class="card-title">Cadastro de Cidades</h4>
						</div>
						<div class="card-content">
							<div class="row">
								<div class="col-md-4">
									<div class="form-group label-floating">
										 
										<select class="form-control">
											<option value="">Selecione o Estado</option>
											<option value="1">PA</option>
											<option value="2">PR</option>
										</select>
										
									</div>
								</div>
									<div class="col-md-8">
										<div class="form-group label-floating">
											<label class="control-label">Cidade</label> 
											<input type="text" class="form-control">
										</div>
									</div>
								
							</div>
							
										
			
							<button type="submit" class="btn btn-warning btn-round">Salvar</button>
							<div class="ripple-container"></div>
							
						</div>
						
			
					</form>
				</div>
			</div>
			
		</div>
	</div>
</section>
</body>
</html>